@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #007e6e;
  --color-secondary: #73af6f;
  --color-accent: #ffd1d1;
  --color-neutral: #27374d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
  color: #27374d;
}

.logo {
  @apply text-xl md:text-2xl font-extrabold bg-clip-text text-transparent italic;
}

.logo {
  font-family: var(--font-raleway);
}

.navLinks {
  @apply font-bold text-neutral;
}

.navLinks:hover,
.navLinks.active {
  @apply bg-primary/30 text-primary;
}

.btn {
  @apply btn-sm md:btn-md font-semibold md:text-base;
}

.btn:disabled {
  @apply pointer-events-auto cursor-not-allowed bg-[#D6D3E4] bg-none;
}

.primary_linear {
  @apply bg-linear-to-r from-primary/75 to-secondary/75;
}

.primary_linear_hover {
  @apply transition-colors duration-300 hover:from-primary/85   hover:to-secondary/85;
}

.input,
.textarea,
.select {
  @apply w-full block bg-transparent;
}

.textarea {
  @apply focus:textarea-primary;
}

.select {
  @apply focus:select-primary bg-base-300!;
}

.input {
  @apply focus:input-primary;
}

.label {
  @apply font-semibold text-neutral text-base md:text-lg;
}

table tbody tr:nth-child(2n) {
  @apply bg-[#dddddd6e];
}

.footer-title {
  @apply opacity-100 font-semibold!;
}
